h1{
    color: red;
}
p{
    font-weight: bold;
    text-align: center;
}
body{
    background-image: url("icegif-162.gif");
}
#titulo{
    font-style: italic;
}
.pink{
    color: pink;
}
.blue{
    color: darkblue;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: aqua;
}
a:active{
    background-color: blueviolet;
}